 
<div class="container-fluid product-wrapper" [class.sidebaron]="openSidebar">
   <div class="product-grid">
     <div class="feature-products">
       <div class="row m-b-10">
         <div class="col-md-3 col-sm-2 products-total">
           <div class="square-product-setting d-inline-block"><a class="icon-grid grid-layout-view" href="javascript:void(0)" data-original-title="" title="" (click)="gridOpens()">
           <app-feather-icons [icon]="'grid'"></app-feather-icons>
          </a></div>
           <div class="square-product-setting d-inline-block"><a class="icon-grid m-0 list-layout-view" href="javascript:void(0)" data-original-title="" title="" (click)="listOpens()">
          <app-feather-icons [icon]="'list'"></app-feather-icons>  
          </a></div>
           <div class="grid-options d-inline-block">
             <ul>
               <li (click)="grid2s()"><a class="product-2-layout-view"  data-original-title="" title=""><span class="line-grid line-grid-1 bg-primary"></span><span class="line-grid line-grid-2 bg-primary"></span></a></li>

               <li (click)="grid3s()"><a class="product-3-layout-view"  data-original-title="" title=""><span class="line-grid line-grid-3 bg-primary"></span><span class="line-grid line-grid-4 bg-primary"></span><span class="line-grid line-grid-5 bg-primary"></span></a></li>
               <li (click)="gridOpens()"><a class="product-4-layout-view"  data-original-title="" title=""><span class="line-grid line-grid-6 bg-primary"></span><span class="line-grid line-grid-7 bg-primary"></span><span class="line-grid line-grid-8 bg-primary"></span><span class="line-grid line-grid-9 bg-primary"></span></a></li>
               <li (click)="grid6s()"><a class="product-6-layout-view"  data-original-title="" title=""><span class="line-grid line-grid-10 bg-primary"></span><span class="line-grid line-grid-11 bg-primary"></span><span class="line-grid line-grid-12 bg-primary"></span><span class="line-grid line-grid-13 bg-primary"></span><span class="line-grid line-grid-14 bg-primary"></span><span class="line-grid line-grid-15 bg-primary"></span></a></li>
             </ul>
           </div>
         </div>
         <div class="col-md-9 col-sm-10 text-end">
         </div>
       </div>
       <div class="row">                            
         <div class="col-md-12">
           <div class="pro-filter-sec">
             <div class="product-search">
               <form>
                 <div class="form-group m-0" style="width: 100%;">
                   <input class="form-control" type="search" placeholder="Search.." data-original-title="" title=""><i class="fa fa-search"></i>
                 </div>
               </form>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="product-wrapper-grid" [class.list-view]="listView">   
       <app-product-box></app-product-box>
     </div>
   </div>
 </div>
