<div class="checkout-details">
   <div class="order-box">
     <div class="title-box">
       <div class="checkbox-title">
         <h4 class="mb-0">Productos </h4><span>Total</span>
       </div>
     </div>
     <ul class="qty">
      <li *ngFor="let p of products">
        {{ formattedName(p.nombreProducto) }} x {{ p.qty }} <span>${{p.precio * p.qty}}</span>
      </li>
     </ul>
     <ul class="sub-total">
       <li>Subtotal <span class="count">${{total$ | async}}</span></li>
     </ul>
     <ul class="sub-total total">
       <li>Total <span class="count">${{total$ | async}}</span></li>
     </ul>
     <div class="animate-chk">
       <div class="row">
         <div class="col">
           <label class="d-block" for="edo-ani2">
             <input class="radio_animated" id="edo-ani2" type="radio" name="rdo-ani" checked="" data-original-title="" title="">PayPal<img class="img-paypal" src="assets/images/checkout/paypal.png" alt="">
           </label>
         </div>
       </div>
     </div>
     <div class="order-place"><a class="btn btn-primary" [routerLink]="['/ecommerce/invoice']">Efectuar Compra</a></div>
   </div>
 </div>