<form>
   <div class="row">
     <div class="mb-3 col-sm-6">
       <label for="inputEmail4">Nombre</label>
       <input class="form-control" id="inputEmail4" type="text">
     </div>
     <div class="mb-3 col-sm-6">
       <label for="inputPassword4">Apellido </label>
       <input class="form-control" id="inputPassword4" type="text">
     </div>
   </div>
   <div class="row">
     <div class="mb-3 col-sm-6">
       <label for="inputEmail5">Teléfono</label>
       <input class="form-control" id="inputEmail5" type="number">
     </div>
     <div class="mb-3 col-sm-6">
       <label for="inputPassword7">Dirección de Correo</label>
       <input class="form-control" id="inputPassword7" type="email" >
     </div>
   </div>
   <div class="mb-3">
     <label for="inputState">Pais</label>
     <select class="form-control form-select" id="inputState">
       <option selected="">Elija...</option>
       <option>...</option>
     </select>
   </div>
   <div class="mb-3">
     <label for="inputAddress5">Dirección</label>
     <input class="form-control" id="inputAddress5" type="text">
   </div>
   <div class="mb-3">
     <label for="inputCity">Ciudad</label>
     <input class="form-control" id="inputCity" type="text">
   </div>
   <div class="mb-3">
     <label for="inputAddress2">Estado</label>
     <input class="form-control" id="inputAddress2" type="text">
   </div>
   <div class="mb-3">
     <label for="inputAddress6">Código Postal</label>
     <input class="form-control" id="inputAddress6" type="text">
   </div>
 </form>